nav {
    background: var(--primary-color);
    height: 50px;
}

#siteWindow {
    height: 1500px;
}

#mainNav img {
    width: 60px;
}

#div_navLogo {
    display: flex;
    align-items: center;
    left: 3%;
    //justify-content: center;
}

#dropdownMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1%;
}