@font-face {
    font-family: Adam;
    src: url(/sources/fonts/adam.cg_pro.otf);
}

@font-face {
    font-family: BookAntiqua;
    src: url(/sources/fonts/BKANT.TTF);
}

@font-face {
    font-family: BookAntiquaBold;
    src: url(/sources/fonts/ANTQUAB.TTF);
}

#mainBanner {
    width: 100%;
    height: 550px;
    //background: cyan;
    //overflow: hidden;
}

#div-Logo-mainBanner {
    //background: red;
    width: 100%;
    height: 20%;
}

#div-Logo-mainBanner img {
    width: 110px;
    margin: 5px;
}

.justify-center {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    //background-color: blue;
    width: 30%;
}

.centerItself {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mainImage {
    width: 85%;
    transition: all 0.5s;
}
#mainImage:hover{
    width: 86%;
}

#divHold-mainImage {
    height: 80%;
}

#divHold-mainImage>div {
    //background: magenta;
    height: 100%;
}
#divHold-MainRight > div{
    width: 100%;
    height: 50%;
}
#mainBannerUpTxt {
    height: 25%;
}

#mainBannerUpTxt div {
    width: 100%;
    height: 50%;
    //background: red;
}

#mainBannerDownTxt {
    width: 100%;
    //height: 50%;
    //background: gray;
}
#goDown{
    position: relative;
    top: 50px;
}

.bookAntiqua15 {
    font-family: BookAntiqua;
    font-size: 15pt;
}

.bookAntiqua25 {
    font-family: BookAntiqua;
    font-size: 25pt;
}
.bookAntiqua35 {
    font-family: BookAntiqua;
    font-size: 35pt;
}
.bookAntiqua38 {
    font-family: BookAntiqua;
    font-size: 38pt;
}

.adam15 {
    font-family: Adam;
    font-size: 15pt;
}

.adam20 {
    font-family: Adam;
    font-size: 20pt;
}

.adam25 {
    font-family: Adam;
    font-size: 25pt;
}

.mainBannerButton {
    background: #344459;
    background-image: -webkit-linear-gradient(top, #344459, #2A384A);
    background-image: -moz-linear-gradient(top, #344459, #2A384A);
    background-image: -ms-linear-gradient(top, #344459, #2A384A);
    background-image: -o-linear-gradient(top, #344459, #2A384A);
    background-image: -webkit-gradient(to bottom, #344459, #2A384A);
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Adam;
    font-size: 25px;
    font-weight: 100;
    padding: 20px;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }